html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background: #0039a6 url("../images/logo.png") no-repeat scroll left center;
    width: 100%;
}

.header_logo {
    color: white;
    font-size: 60px;
    height: 100px;
    padding-left: 170px;
    padding-top: 15px;
    width: 100%;
}

.header_content {
    margin: 0 auto;
    width: 800px;
}

.menu_btn {
    background: #0039a6 none repeat scroll 0 0;
    border: medium none;
    color: white;
    font-size: 18px;
}

.wrapper {
    /*min-height: 100%;*/
    /*height: 100%;*/
}

.layout { position: relative; width: 100%; }
.col1 { float: left; width: 200px; min-height: 600px; height: 600px; position: relative; }
.col2 { margin-left: 200px; margin-right: 200px; padding: 10px; }
.col3 { float: right; width: 200px; min-height: 600px; height: 600px; position: relative; }

.no_left {margin-left: 0;}
.no_right {margin-right: 0;}

.col1_resize, .col3_resize { position: absolute; height: 100%; top: 0; width: 2px; cursor: col-resize; background: gray; }
.col1_resize { right: 0 }
.col3_resize { left: 0 }

.block {
    border-bottom: 2px solid gray;
    width: 200px;
    overflow: auto;
}

.block .panel-body {
    padding: 0;
}

.block .alert {
    padding: 5px;
    border-radius: 0;
    margin-bottom: 0;
}

.info_block {
    height: 25%;
    min-height: 25%;
}

.data_block {
    height: 75%;
    min-height: 75%;
}

.map_container {
    height: 580px;
    overflow: auto;
}

#map {
    /*background: url("../images/map.jpg");*/
}

.map_0 {
    background: url("../images/map.jpg") no-repeat;
}

.map_1 {
    background: url("../images/map_1.jpg") no-repeat;
}

.map_2 {
    background: url("../images/map_2.jpg") no-repeat;
}

.map_3 {
    background: url("../images/map_3.jpg") no-repeat;
}

.map_4 {
    background: url("../images/map_4.jpg") no-repeat;
}

.map_5 {
    background: url("../images/map_5.jpg") no-repeat;
}

.map_6 {
    background: url("../images/map_6.jpg") no-repeat;
}

.jstree-default a {
    white-space:normal !important; height: auto; width: 85%;
}
.jstree-anchor {
    height: auto !important;
}
.jstree-default li > ins {
    vertical-align:top;
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
}

.sensor {
    cursor: pointer;
}

.sensor_alert {
    background: red;
}

.sensor_warning {
    background: #ffff00;
}

.sensor_norm {
    background: green;
}

.sensor_off {
    background: gray;
}

.journal_container {
    overflow-x: auto;
}

footer {
    background-color: #0039a6;
    /*bottom: 0;*/
    height: 50px;
    /*position: absolute;*/
    width: 100%;
    color: white;
}

footer div {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

table th {

}