<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://192.168.0.57:5432/dam</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.pool_size">1</property>
        <!--<property name= "cache.provider_class">-->
            <!--org.hibernate.cache.NoCacheProvider-->
        <!--</property>-->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="ru.rushydro.vniig.entry.MeasParamSys" />
        <mapping class="ru.rushydro.vniig.entry.PassportParamSys" />
        <mapping class="ru.rushydro.vniig.entry.SignSys" />
        <mapping class="ru.rushydro.vniig.entry.TypeSignalTable" />
        <mapping class="ru.rushydro.vniig.entry.UstavkaParamSys" />
        <mapping class="ru.rushydro.vniig.entry.AbstractEntry" />
    </session-factory>
</hibernate-configuration>